body {
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
}
.navbar {
	box-shadow: 0px 2px 3px rgba(88, 88, 88, 0.5);
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;	
	background-color: white;
}
.left-nav {
	margin: 20px;
	float: left;
	font-size: 1.2em
}
.left-nav a{
	padding: 6px;
}
.ion {
	font-size: 22px;
	font-weight: bold;
}
.logo {
	width: 80px;
	margin-top: -10px;
	padding-left: 20px;
	margin-right: 20px;
}
form {
	display: inline;
	margin: 20px;
	width: 70px;
}
.searchbar {
	margin: 15px;
	float: left;
	padding: -20px;
}
.search {
	width: 578px;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #dddddd;
	font-family: 'Roboto', sans-serif;
	float: left;
	border-radius: 3px 0 0 3px;
}
.search-button {
	float: left;
	padding: 6px 20px;
	background-color: rgb(248, 248, 248);
	color: #888888;
	border: 1px solid #dddddd;
	border-left: none;
	height: 31px;
	width: 65px;
	border-radius: 0 3px 3px 0;
}
.search:focus {
	outline: black;
}

.navbar ul {
list-style-type: none;
float: right;
margin: 20px;

}
.navbar li {
display: inline;
padding: 18px;
}
a {
	text-decoration: none;
	font-family: sans-serif;
	color: #888888;
}
#sign-in {
	color: red;
	font-size: 14px;
	font-weight: bold;
}
.fullpage {
	background-color: #FEFEFE;
	height: 100%;
	margin: 60px 40px 40px 40px;
}
aside {
	width: 300px;
	height: 300px;
	background-color: #aaaaaa;
	float: right;
	margin-top: 40px;
}
.video {

}
iframe {
	margin-top: 30px;
	height: 480px;
	width: 768px;
	border-width: 0 40px 0 40px;
	border-style: solid;
}
.title {

}
.views {

}
